@keyframes intro-box {
  0% {
    transform: rotateX(-15deg) rotateY(-900deg) scale3d(0.1, 0.1, 0.1) translateY(-600px);
  }
  100% {
    transform: rotateX(-15deg) rotateY(-30deg) scale3d(1, 1, 1) translateY(0);
  }
}
@keyframes open-box {
  0% {
    transform: rotateX(-15deg) rotateY(-30deg) scale3d(1, 1, 1);
  }
  30% {
    transform: rotateX(-15deg) rotateY(-30deg) scale3d(0.7, 0.7, 0.7);
  }
  100% {
    transform: rotateX(-15deg) rotateY(-30deg) scale3d(1, 1, 1);
  }
}
@keyframes show-text {
  0% {
    display: none;
    color: black;
  }
  100% {
    display: block;
    color: gold;
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  font-family: "Noto Sans KR", sans-serif;
  overflow: hidden;
}
.box {
  transform-style: preserve-3d;
  transform-origin: center center 60px;
  animation: intro-box 1s forwards;
  position: relative;
  width: 120px;
  height: 120px;
}
.box.opened {
  animation: open-box 1s forwards 0.1s;
}
.text {
  display: none;
  margin-top: 50px;
}
.box.opened ~ .text {
  color: transparent;
  display: block;
  animation: show-text 2s 5s infinite alternate;
}
.face {
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #bc2125;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 6px solid #b2854c;
  background: #c5af94;
}
.face.face-1 {
  transform-origin: top;
  transform: rotateX(90deg);
  transition: 1.5s cubic-bezier(0.39, 0.58, 0.57, 1);
}
.face.face-1::before {
  content: "";
  width: 100%;
  height: 15%;
  bottom: 0;
  background: #b2854c;
}
.face.face-2 {
  transform: translateZ(120px);
}
.face .postmark {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.face .postmark::before {
  content: "";
  width: 100%;
  height: 25%;
  position: absolute;
  bottom: 0;
  background: #bc2125;
}
.face .postmark::after {
  content: "";
  width: 100%;
  height: 5%;
  position: absolute;
  bottom: 30%;
  background: #cc8061;
}
.face.face-3 {
  transform-origin: bottom;
  transform: rotateX(-90deg);
}
.face.face-4 {
  transform-origin: left;
  transform: rotateY(-90deg);
}
.face.face-5 {
  transform-origin: right;
  transform: rotateY(90deg);
}
.face.face-6 {
  /* background: rgba(200, 255, 0, 1); */
}
.ball {
  width: 6px;
  height: 6px;
  background: green;
  /* border-radius: 50%; */
  position: absolute;
  bottom: 0;
  left: 0;
}
